includes:
    - extension.neon

parameters:
    level: max
    paths:
        - src
    
    # Strict rules for quality
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
